[Unit]
Description=Keeps a tunnel to remote server open
After=network.target

[Service]
User=user
ExecStart=autossh -M 0 joe@dev1.hkphysics.hk -N -o "StrictHostKeyChecking no" -L 0.0.0.0:11434:localhost:11434 -L 0.0.0.0:2525:localhost:25

[Install]
WantedBy=multi-user.target