jupyterlab_myst
jupyterlab-git
jupyterlab-latex
jupyterlab-spreadsheet-editor
jupyter-archive
jupytext

# installing all jupyter-ai models will cause
# a timeout on startup
jupyter-ai
jupyter-server-mcp
langchain-ollama

# This can causes freezes
jupyter-collaboration
lckr-jupyterlab-variableinspector
jupyterlab-code-formatter
isort
black
mystmd
pytest
matplotlib
pandas
polars
ipympl
# version with fixes
git+https://github.com/hkphysics/uniswappy.git
nb-clean
voila
tensorboard
jupyterlab-tensorboard-pro
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
jupyter_ai_jupyternaut
jupyter_ai_chat_commands
